redis
pymongo
python-dotenv
openai
tiktoken
langchain
langchain-openai
langchain-community
langchain-huggingface 
sentence-transformers
PyMuPDF 
PyCryptodome
pypdf
google-cloud-documentai
opencv-python
numpy
ffmpeg
SpeechRecognition
pydub
pymongo
streamlit
pytesseract